<mat-drawer-container autosize class="drawer-container">
  <mat-drawer #drawer mode="over" class="drawer-sidenav-content">

  </mat-drawer>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Curtain Viewer</span>
    <span class="spacer"></span>

  </mat-toolbar>
  <div>
    <div style="padding: 20px">

    </div>
  </div>

</mat-drawer-container>
